
body
{

padding-top: 2em;
/* margin-left: 2.5em; */
width: 120%;

    
}

.logo{

border-radius: 50%;
width: 8em;

}

main, footer
{
   align-items: center;
   margin-left: 2.5em;
}

span
{
    letter-spacing: 1px;
}

/* .company-name
{
    padding-right: 5em;
} */