<body>



<header align="center">

    <img src="assets/malwike.png" alt="" class="logo" align="centre"> <br> 

    <p class="company-name fw-bold">Malwike Technologies </p>
</header>

<main>

<p>MALWIKE</p>

<p>SERVICES</p>

<p>TESTIMONIALS</p>

<p>CAREERS</p>

<p>CONTACT US</p>

<p>MALWIKEHUB</p>

</main>






<footer>

    <div class="icons">
        <span><i class="fa-brands fa-linkedin"></i></span> &nbsp;&nbsp;&nbsp;
        <span><i class="fa-brands fa-whatsapp"></i></span>&nbsp;&nbsp;&nbsp;
        <span><i class="fa-brands fa-youtube"></i></span>&nbsp;&nbsp;&nbsp;
    </div>


</footer>


</body>


