<body>
    <app-navbar></app-navbar>


    <main>

        <img src="assets/Tech-Wallpaper-HD-35703 (2).jpg" alt="" srcset="">



        <div class="about">

           
            <h3>
            <time datetime="" class="">

                {{ dateToday | greeting }}
            </time> <br>
           
        </h3>

        <span>Malwiker</span>
            
        </div>

        <div class="about-us"> 
            
            <p>WELCOME TO MALWIKE TECHNOLOGIES <br>
                YOUR FIRST CLASS TECH PARTNER IN </p>
                <ngx-typed-js [strings]="['Website development', 'App Development']" [typeSpeed]="300" [loop]="true" [showCursor]="false" [fadeOutDelay]="500">
                    <h1 class="typing text-warning" ></h1>
                  </ngx-typed-js>

                

        </div>

    </main>

   

    

</body>






